#content {
  background-color: black;
}

.title {
  color: white;
}

span {
  color: white;
  background: none;
}

.ic-app-nav-toggle-and-crumbs, li {
  background: black;
}

.ellipsible {
  background: black;
}

.menu-item-icon-container {
  background: none;
}
